/**
 * EmployeeField Component Demo for tingle
 * @author quanyun.mqy
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Avatar/Avatar'
@require '../../src/Group/Group'
@require '../../src/Field/Field'
@require '../../src/FoldablePane/FoldablePane'
@require '../../src/EmployeeField/EmployeeField'

body
  background-color #f2f2f2

