/**
 * EmployeeField Component Demo for tingle
 * @author quanyun.mqy
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../node_modules/@ali/tingle-ui/dist/default.min.css'
@require '../../node_modules/@ali/tingle-style/src/tingle'
@require '../../node_modules/@ali/tingle-group/src/Group'
@require '../../node_modules/@ali/tingle-field/src/Field'
@require '../../node_modules/@ali/tingle-foldable-pane/src/FoldablePane'
@require '../../src/EmployeeField'

body
  background-color #f2f2f2

