/**
 * Field Component Style for SaltUI
 * @author
 * 
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */
.{$prefix}-filter-bar-wrapper
  .item
    height 44px
    line-height 44px
    text-align center
    cursor pointer
    font-size 14px
    position relative
    .icon
      vertical-align middle
    .flag
      display inline-block
      position absolute
      top -12px
      right 5px
      color #ff6f00
    .active
      color #ff6f00

.{$prefix}-filter-group-title
  font-size 14px
  height 22px
  line-height 22px
  margin 10px 0

.{$prefix}-filter-list-item
  width 100%
  height 44px
  line-height 44px
  font-size 16px
  text-align left
  cursor pointer
  padding-left 20px
  position relative
  hairline 'border-bottom' #f0f0f0
  &:nth-child(1)
    hairline 'border-top' #f0f0f0

.{$prefix}-filter-list-item.active
  color #ff6f00
  .icon
    position absolute
    font-size 14px
    right 15px
    top 5px

.{$prefix}-filter-grid-footer
  margin 25px 20px

.{$prefix}-filter-grid-item
  text-align center
  font-size 14px
  width 95px
  height 36px
  line-height 36px
  margin 10px 0
  background rgba(31,56,88,0.06)
  hairline border rgba(255,111,0,0)
  &.active
    background rgba(255,111,0,0.06)
    hairline border rgba(255,111,0,1)
    border-radius 5px
    font-family PingFangSC-Regular
    color #FF6F00

.{$prefix}-filter-popup-container
  width 320px
  height 100%
  padding 10px 20px
  overflow-y scroll
  overflow-x hidden
  .{$prefix}-filter-grid-item
    width 80px

.{$prefix}-filter-popup-footer
  width 280px
  height 60px
  position absolute
  bottom 0