// tingle-style's utils
/**
 * Slide Component Demo for SaltUI
 * @author gnosaij
 *
 * Copyright 2014-2015, SaltUI Team, Alinw.
 * All rights reserved.
 */
@require '../../dev/demo';
@require '../../src/Carousel/Carousel';

.t-image-slide-item {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.dynamic-item {
    background-color: #ccc;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
