/**
 * Pagination Component Style for SaltUI
 * @author changming.zy
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

.{$prefix}-pagination
  .{$prefix}-button
    max-width 110px
    margin 0 15px
  &-page-current
    color $brand-primary
    margin-right 6px
  &-page-count
    color $normal-alpha-5

