/**
 * Note Component Style for tingle
 * @author
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-note
    position relative
    background-color $brand-primary
    padding 0 10px
    color $basic-100
    min-height 32px

.{$prefix}-note-message, .{$prefix}-note-close
    font-size $font-size-t4
    line-height $font-size-t4-lh
    padding-left 10px

.{$prefix}-note svg
    fill $basic-100
    margin-right -2px

