// tingle-style's utils
/**
 * Popover Component Demo for tingle
 * @author
 * 
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */
@require '../../dev/demo';
@require '../../src/Menu/Menu';
@require '../../src/Popover/Popover';

body {
  background-color: #f2f2f2;
}

.{$prefix}-popover-demo {
  .{$prefix}-popover-inner {
    min-width: 70px;
    min-height: 30px;
    line-height: 30px;
    padding: 0 5px;
  }
}
