/**
 * NumberInfo Component Demo for SaltUI
 * @author shuaige
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

@require '../../dev/demo'
@require '../../src/NumberInfo/NumberInfo'

body
  background-color: $bg;
.number-info-wrap
  background-color: $basic-100;
  margin-bottom: 16px;
  overflow: hidden;
.number-info-wrap-title
  padding: 15px 15px 0;
  font-size: $font-size-t4;
  color: #333;
.number-info-wrap-space
  margin: 15px;
