/**
 * Badge Component Demo for tingle
 * @author minjie.lmj
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils

@require '../../dev/demo'
@require '../../src/Badge/Badge'

body
  padding 20px 10px
  
h1
	margin 10px 0
	font-weight bold
	font-size 20px
	
.extra-head
	margin-top 40px
	
.demo-line
	margin-bottom 20px

	
.demo-item
	width 50px
	height 50px
	border-radius 3px
	display inline-block
	background #e8e8e8

.badge-corner 
	display block
	.demo-item
		display block
		width 100% 
		height 100px
  

