/**
 * SwitchField Component Demo for SaltUI
 * @author 
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Group/Group'
@require '../../src/Field/Field'
@require '../../src/Switch/Switch'

@require '../../src/SwitchField/SwitchField'

body
    background-color #f2f2f2

