/**
 * Icon Component Style for tingle
 * @author hanyu
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-icon
	position relative
	line-height 0

.{$prefix}-icon-svg
	vertical-align middle
	background transparent

.{$prefix}-icon-mask
	position absolute
	top 0
	left 0
	width 100%
	height 100%
