/**
 * Mask Component Demo for tingle
 * @author
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Mask/Mask'

body
    background-color #f2f2f2
.t-mask-demo
    .big-box
        height 300px
        background -webkit-gradient(linear,top,from(#ace),to(#f96))
        background -webkit-linear-gradient(top, #ace, #f96)
