/**
 * Field Component Demo for SaltUI
 * @author
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Group/Group'
@require '../../src/Toast/Toast'
@require '../../src/Field/Field'

body
    background-color #f2f2f2
    color $dark-alpha-2
