// size
/**
 * skeleton Component Style for tingle
 * @author caoke.ck
 * 
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

$skeleton-large = 36px;
$skeleton-middle = 24px;
$skeleton-small = 12px;

$skeleton-radius = 4px;
$skeleton-margin-bottom = 20px;

// background color
$skeleton-bg-bgcolor = rgba(31,56,88, 0.06);
$skeleton-middle-bgcolor = rgba(31,56,88, 0.1);

@keyframes salt-skeleton-loading {
    0% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.{$prefix}-skeleton-wrapper {
    padding 0px 10px 10px 10px;
    margin-top 10px;
    border-bottom 1px solid #fff;
}

.{$prefix}-skeleton-header-wrapper {
    display table-cell;
    vertical-align top;
    padding-right 10px;
}

.{$prefix}-skeleton-content-wrapper {
    display table-cell;
    vertical-align top;
    width 100%
}

.{$prefix}-skeleton-circle {
    border-radius 50%;
    background-color $skeleton-bg-bgcolor;
    width 50px;
    height 50px;
    margin 20px 16px $skeleton-margin-bottom 0;
}

.{$prefix}-skeleton-text-bar {
    width 100%;
    height 14px;
    margin-bottom 12px;
    list-style none;
    background-color $skeleton-bg-bgcolor;
    border-radius $skeleton-radius;
    &:last-child {
        width 80%;
    }
}

.{$prefix}-skeleton-image-small {
    width 110px;
    height 72px;
    margin-right 16px;
    margin-bottom $skeleton-margin-bottom;
    background-color $skeleton-bg-bgcolor;
    border-radius $skeleton-radius;
}

.{$prefix}-skeleton-image-big {
    width 100%;
    height 120px;
    margin-bottom $skeleton-margin-bottom;
    background-color $skeleton-bg-bgcolor;
    border-radius $skeleton-radius;
}

.{$prefix}-skeleton-loading {
    background linear-gradient(90deg,$skeleton-bg-bgcolor 25%,$skeleton-middle-bgcolor 37%,$skeleton-bg-bgcolor 63%);
    animation salt-skeleton-loading 1.4s ease infinite;
    background-size 400% 100%;
}

.{$prefix}-skeleton-operation-bar {
    width 100%;
    height 20px;
    .{$prefix}-skeleton-operation-left {
        width 48%;
        height 100%;
        display inline-block;
        border-radius $skeleton-radius;
    }
    .{$prefix}-skeleton-operation-mid {
        width 20%;
        height 100%;
        margin 0 6% 0 6%;
        display inline-block;
        border-radius $skeleton-radius;
    }
    .{$prefix}-skeleton-operation-right {
        width 20%;
        height 100%;
        display inline-block;
        border-radius $skeleton-radius;
    }
}

.{$prefix}-skeleton-large {
    width $skeleton-large;
    height $skeleton-large;
}
.{$prefix}-skeleton-middle {
    width $skeleton-middle;
    height $skeleton-middle;
}
.{$prefix}-skeleton-small {
    width $skeleton-small;
    height $skeleton-small;
}