/**
 * NoticeBar Component Demo for tingle
 * @author
 * 
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */
@require '../../dev/demo';
@require '../../src/NoticeBar/NoticeBar';

body {
  background-color: #f2f2f2;
}
