/**
 * NoticeBar Component Demo for SaltUI
 * @author
 * 
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */
@require '../../dev/demo';
@require '../../src/NoticeBar/NoticeBar';

body {
  background-color: #f2f2f2;
}
