/**
 * RateField Component Style for tingle
 * @author yuguo.qyg
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

@require '../node_modules/@ali/tingle-rate/src/Rate.styl'

.{$prefix}-rate-field
    display block // 这一行只是演示 按需删除
    .t-group-head
        height 45px
        padding-top 20px
        background #f7f7f7
        font-size 12px
        line-height 100%
        color #666
    .t-group-list
        border-top 0 none
    .t-rate
        padding 10px 15px
