/**
 * CheckboxField Component Demo for tingle
 * @author shanchao
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Group/Group'
@require '~salt-icon/src/Icon'
@require '../../src/Field/Field'
@require '../../src/Layer/Layer'
@require '../../src/Mask/Mask'
@require '../../src/Scroller/Scroller'
@require '../../src/CheckboxField/CheckboxField'

body
    background-color #f2f2f2

.demoTable
    td
        padding 10px 0
        vertical-align middle
    
    .info-td
        padding-left 10px
    
    .avatar-td
        width 32px
    
    .avatar
        border-radius 50%
    
    .name
        margin-bottom 5px
        font-size 16px

    .postName
        font-size 12px
        color $gray-light

.t-checkbox-field-readonly
    .name, .postName
        color #ccc

.demo-tip-icon
    display inline-block
    vertical-align middle

.checkbox-field-demo-group
    margin-top: 20px
