/**
 * TabBar Component Demo for SaltUI
 * @author zhouwenjie
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Badge/Badge'
@require '../../src/TabBar/TabBar'

body
  background-color #f2f2f2

  /*.t-content-view
    height 1000px
    text-align center
    color #444
  .t-content-icon
    display block
    margin 20px auto 10px
    width 100px
    height 100px
    svg
      width 100px
      height 100px
      fill #e6e6e6*/

