/**
 * TabBar Component Demo for tingle
 * @author zhouwenjie
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../node_modules/@ali/tingle-style/src/tingle'
@require '../../node_modules/@ali/tingle-badge/src/Badge.styl'
@require '../../src/TabBar'

body
  background-color #f2f2f2

  .t-content-view
    height 1000px
    text-align center
    color #444
  .t-content-icon
    display block
    margin 20px auto 10px
    width 100px
    height 100px
    svg
      width 100px
      height 100px
      fill #e6e6e6

