/**
 * SearchBar Component Demo for tingle
 * @author zhouquan.yezq
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/SearchBar/SearchBar'

body
    background-color #fff
    height 2000px

.list
.head
    padding 20px

.list
    background #eee
