/**
 * Pagination Component Demo for tingle
 * @author wb-dbl257323
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Button/Button'
@require '../../src/Layer/Layer'
@require '../../src/Slot/Slot'
@require '../../src/Mask/Mask'
@require '../../src/Pagination/Pagination'

body
  background-color #f2f2f2
  h1
    color #333
    margin 20px 15px
    font-size 20px
    font-weight bolder
  h5
    color #666
    font-weight bolder
    margin 15px
  .custom-class
    font-size 16px
    font-family arial
    color #f00
    font-weight bold

