/**
 * Box Component Demo for tingle
 * @author
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'

.wrapper
  background-color: #ddd
  margin-bottom 10px
  height 120px
.box1, .box2, .box3, .box4
  text-align center
  color #fff
  line-height 30px
.box1
  background-color: #64b044
  width 60px
  height 60px
.box2
  background-color: #f2a21c
.box3
  background-color #7e499e
  height 40px
