/**
 * RateField Component Demo for SaltUI
 * @author yuguo.qyg
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Field/Field'
@require '../../src/Rate/Rate'
@require '../../src/Field/Field'
@require '../../src/RateField/RateField'

body
  background-color #FFF