/**
 * OnOff Component Demo for tingle
 * @author ruiyang.dry
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Switch/Switch'
body
    background-color #f2f2f2

.demo
    background-color #ffffff

.demo-item
    overflow hidden
    padding 15px
    padding-left 0
    margin-left: 15px
    border-bottom 1px solid $normal-alpha-7
.demo-item > .label-txt
    display inline-block
    font-size 16px
    height 24px
    line-height 24px
    padding 0 1.5px
    margin-top 4px
