/**
 * Steps Component Demo for SaltUI
 * @author muwen.lb
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
// 
@require '../../dev/demo'
@require '../../src/Steps/Steps'

body
  background-color #f2f2f2

