/**
 * Dialog Component Demo for SaltUI
 * @author cm
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Dialog/Dialog'


html
  overflow hidden
body
  background-color #f2f2f2
  padding-top: 300px;
  position relative
  // touch-action: none;

.demoWrap
  padding 15px

.demo
  margin-bottom 15px
