/**
 * SwitchField Component Style for SaltUI
 * @author
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

 .{$prefix}-switch-field
   .{$prefix}-switch
     height 30px
   &.v-label
     .{$prefix}-field-layout-h-label-left
       font-size 14px




