/**
 * PickerField Component Demo for tingle
 * @author longyan
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../node_modules/@ali/tingle-style/src/tingle.styl'
@require '../../node_modules/@ali/tingle-scroll-view/src/ScrollView.styl'
@require '../../node_modules/@ali/tingle-button/src/Button.styl'
@require '../../node_modules/@ali/tingle-icon/src/Icon.styl'
@require '../../node_modules/@ali/tingle-popup/src/Popup.styl'
@require '../../node_modules/@ali/tingle-field/src/Field.styl'
@require '../../node_modules/@ali/tingle-group/src/Group.styl'
@require '../../src/PickerField.styl'

body
    background-color #f2f2f2
