/**
 * PickerField Component Demo for tingle
 * @author longyan
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/ScrollView/ScrollView'
@require '../../src/Button/Button'
@require '~salt-icon/src/Icon'
@require '../../src/Popup/Popup'
@require '../../src/Field/Field'
@require '../../src/Group/Group'
@require '../../src/SearchBar/SearchBar'
@require '../../src/PickerField/PickerField'

body
    background-color #f2f2f2
