/**
 * Button Component Demo for tingle
 * @author cm
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '~salt-icon/src/Icon'
@require '../../src/Button/Button'

h1
    padding 20px 8px

.demo-section
    padding 20px 0

    .section-title
        padding 8px

    .section-content
        max-width 414px

.demo-row
    display flex
    display -webkit-flex
    flex-direction row
    -webkit-flex-direction row
    .demo-cell
        flex 1
