/**
 * Drawer Component Demo for tingle
 * @author 
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Drawer/Drawer'
@require '../../src/Menu/Menu'

body
  background-color #f2f2f2
  color $dark-alpha-2

.demo-nav-bar
  position relative
  color white
  height 44px
  line-height 44px
  text-align center
  background #108ee9

.demo-nav-bar-icon
  position absolute
  left 0
  padding 0 10px
  font-size 22px
  font-weight bold
  line-height 32px

.demo-sidebar
  background white
  width 250px
  height 100%
  

.my-drawer 
  position relative
  overflow auto

.demo-tip
  text-align center
  padding 30px

