/**
 * DatetimeField Component Style for tingle
 * @author caoke.ck
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

$datetime-field-tip-color = $normal-alpha-5;
$datetime-field-readonly-color = $dark-alpha-2;

.{$prefix}-datetime-field-value
    > *
        vertical-align middle

.{$prefix}-datetime-field-icon svg
    fill $datetime-field-tip-color

.{$prefix}-datetime-field-placeholder
    max-width 100%
    height 24px
    line-height 24px
    color $datetime-field-tip-color

.{$prefix}-datetime-field-readonly
    color $datetime-field-readonly-color
