/**
 * Progress Component Demo for tingle
 * @author shallker.wxd(dongnan)
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Progress/Progress'

body
  background-color #f2f2f2
  padding 10px
  padding-top 100px
