/**
 * Collapse Component Demo for tingle
 * @author 
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Style/variables/colors'
@require '../../src/Collapse/Collapse'

body
  background-color #f2f2f2

.collapse-content-demo
  padding 0 28px
  margin 20px 0
