/**
 * Card Component Style for tingle
 * @author caiyongmin
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-card
    background-color: $basic-100;
    border-radius: $global-border-radius;
    margin: 0 16px;
    &.card-mode-full
        margin: 0;
        border-radius: 0;

