/**
 * NumberPickerField Component Style for SaltUI
 * @author sujingjing
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */
.{$prefix}-number-picker-field
  background: #fff;
  .t-FB1
    text-align: right
  &.v-label
    .{$prefix}-field-layout-h-label-left
      font-size 14px
