/**
 * NumberPickerField Component Style for tingle
 * @author sujingjing
 * 
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */
.{$prefix}-number-picker-field {
    background: #fff;
    .t-FB1 {
        text-align: right;
    }
}
