/**
 * ScrollList Component Demo for tingle
 * @author zhouquan.yezq
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@import '../../src/Style/tingle';
@import "../../src/InfiniteScroll/InfiniteScroll";
@import "../../src/Refreshcontrol/Refreshcontrol";
@import '../../src/ScrollList/ScrollList'


.newlist-demo-item {
   height: 80px;
   line-height:80px;
   text-align:center;
   margin-bottom:10px;
   background-color: #e2e2e2;
}


.newlist-demo-item:last-child {
  margin-bottom: 0;
}

.other1{
   background-color: green;
}

.other2{
   background-color: #666;
}

.container{
    margin:0px;
    //height:400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  .t-scroll-view {
    height 100%
    width 100%
    overflow auto
  }
}


.vc-scrolldemo {
  color: black;
  padding: 30px 10px;
  text-align: center;
  background: #a9c8f4;
}

.newlist-demo-icon {
  svg {
    fill: $normal-alpha-4;
    width: 20px;
    height: 20px;
  }
}

.newlist-demo-has-icon {
  display: flex;
  align-items: center;
}

.newlist-demo-front-icon {
  display: inline-block;
  line-height: 0;
  margin-right: 12px;
  svg {
    fill: $dark-alpha-3;
    width: 20px;
    height: 20px;
  }
}