/**
 * Slot Component Demo for tingle
 * @author caoke.ck
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Button/Button'
@require '../../src/Mask/Mask'
@require '../../src/Popup/Popup'
// @require '../../src/Layer/Layer'
@require '../../src/Slot/Slot'

body
    background-color #fff
    .demo
        padding 10px

h2
    font-size 16px
    padding 4px 0
