/**
 * Refreshcontrol Component Demo for tingle
 * @author xiaohe.wp
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils

@require '../../dev/demo'
@require '../../src/Refreshcontrol/Refreshcontrol'

body
  background-color #f2f2f2

.item
  height 80px
  line-height 80px
  text-align center
  background #ccc
  margin-bottom 10px
