/**
 * PhotoField Component Demo for tingle
 * @author 
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '~salt-icon/src/Icon'
@require '../../src/Group/Group'
@require '../../src/Field/Field'
@require '../../src/FoldablePane/FoldablePane'
@require '../../src/ImageViewer/ImageViewer'
@require '../../src/Slide/Slide'
@require '../../src/PhotoField/PhotoField'