/**
 * CalendarField Component Demo for tingle
 * @author quanyun.mqy
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Group/Group'
@require '../../src/Field/Field'
@require '../../src/Layer/Layer'
@require '../../src/Slot/Slot'
@require '../../src/Mask/Mask'
@require '../../src/Popup/Popup'
@require '../../src/Button/Button'
@require '../../src/Calendar/Calendar'
@require '../../src/Datetime/Datetime'
@require '../../src/CalendarField/CalendarField'

body
  background-color #f2f2f2

