/**
 * InfiniteScroll Component Demo for tingle
 * @author xiaohe.wp
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/InfiniteScroll/InfiniteScroll'

body
  background-color #f2f2f2


.demo {
  position absolute
  top 0
  bottom 0
  width: 100%;
  height 100%
  overflow auto
}

.demo-item {
  height 50px
  line-height 50px
  text-align center

  background chartreuse
  margin-bottom 10px
}
