// tingle-style's utils
/**
 * Menu Component Demo for tingle
 * @author wb-cq231719
 * 
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */
@require '../../dev/demo';
@require '../../src/Badge/Badge';
@require '../../src/Button/Button';
@require '../../src/Popup/Popup';
@require '../../src/Popover/Popover';
@require '../../src/Menu/Menu';

body {
  background-color: $normal-alpha-8;
}

.menu-demo-title {
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  padding-left: 16px;
}

.t-menu-popup {
  min-width: 250px;
}
