/**
 * Card Component Demo for SaltUI
 * @author caiyongmin
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Carder/Carder'

body
  background-color: $bg;
