/**
 * Rate Component Style for tingle
 * @author quanyun.mqy
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-rate-item
    width 18px
    height 17px
    text-align center
    overflow hidden
    -webkit-box-sizing: content-box
    -moz-box-sizing: content-box
    box-sizing: content-box
    &:first-child
        padding-left 0 !important
    &:last-child
        padding-right 0 !important
    svg
        width 100%
        height 100%
        fill rgba(31,56,88,0.20);
    &.active svg
        //fill $brand-primary
        fill #FABD0E

.rate-tip
        padding-left 1em
        color #666
        font-size 12px
.show-center
            margin 0 auto

.{$prefix}-rate.readOnly
    svg
        width 100%
        height 100%
        fill $normal-alpha-7
