// 通用
$font-size-t1 = 10px; //T1
$font-size-t2 = 12px; //T2
$font-size-t3 = 13px; //T3
$font-size-t4 = 14px; //T4
$font-size-t5 = 16px; //T5
$font-size-t6 = 17px; //T6
$font-size-t7 = 18px; //T7
$font-size-t8 = 20px; //T8
$font-size-t9 = 24px; //T9
$font-size-t10 = 28px; //T10
$font-size-t11 = 36px; //T11

$font-size-t1-lh = 12px;
$font-size-t2-lh = 18px;
$font-size-t3-lh = 18px;
$font-size-t4-lh = 20px;
$font-size-t5-lh = 22px;
$font-size-t6-lh = 22px;
$font-size-t7-lh = 24px;
$font-size-t8-lh = 28px;
$font-size-t9-lh = 30px;
$font-size-t10-lh = 32px;
$font-size-t11-lh = 46px;

// 特殊
$font-size-field-text = $font-size-t5;
$font-size-field-label = $font-size-t5;
$font-size-field-title = $font-size-t4;

$font-size-field-text-lh = $font-size-t4-lh;
$font-size-field-label-lh = $font-size-t4-lh;
$font-size-field-title-lh = $font-size-t2-lh;
