/**
 * NumberPickerField Component Style for tingle
 * @author sujingjing
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-number-picker-field
    display block
    background #fff
    font-size 12px
    line-height 12px
    color #666666
    .t-FB1
        text-align right
        padding-right 15px


