/**
 * TextField Component Demo for tingle
 * @author
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../node_modules/@ali/tingle-style/src/tingle.styl'
@require '../../node_modules/@ali/tingle-group/src/Group.styl'
@require '../../node_modules/@ali/tingle-field/src/Field.styl'
@require '../../src/TextField.styl'

body
    background-color #f2f2f2
