/**
 * TextField Component Demo for tingle
 * @author
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Group/Group'
@require '../../src/Field/Field'
@require '../../src/Toast/Toast'
@require '../../src/TextField/TextField'

body
    background-color #f2f2f2
