/**
 * NavBar Component Demo for SaltUI
 * @author ruiyang.dry
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/NavBar/NavBar'

body
    background-color #f2f2f2

