@require '../../dev/demo'
@require '../../src/Group/Group'
@require '../../src/Field/Field'
@require '../../src/Slider/Slider'
@require '../../src/SliderField/SliderField'

body
  padding-top 10px

.t-slider-field
  margin 5px 0
