/* variables + mixin + reset + flexbox + util */
@import "../../../src/Style/tingle.styl";


$brand-primary = #008DFF; // B1
$brand-primary-focus = #0085F2; // B3

@import "../../../src/Style/generate.styl";

/* components style */
@import "../../component.styl";
