/**
 * Crumb Component Style for tingle
 * @author quanyun.mqy
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-crumb
    width 100%
    overflow hidden

.{$prefix}-crumb-scroll
    white-space nowrap

.{$prefix}-crumb-item
    color $function-blue
    line-height 1.8
    &.disabled
        color $gray-light

.{$prefix}-crumb-nav-icon
    color $gray-lighter
    line-height 1.8
    padding 0 10px
