// tingle-style's utils
/**
 * Popup Component Demo for tingle
 * @author guanghong.wsj
 * 
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */
@require '../../dev/demo';
@require '../../src/Popup/Popup';

body {
  background-color: #f2f2f2;
  padding: 10px;
  padding-top: 500px;

  .t-button {
    margin-bottom: 10px;
  }
}

.demo-popup-container {
  height: 400px;
  width: 100%;
  padding: 20px;
}

.demo-popup-container-2 {
  height: 100%;
  width: 280px;
  padding: 20px;
}
