/**
 * Gallery Component Style for SaltUI
 * @author cm
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */
.{$prefix}-gallery-item
    height 100%
    background-size cover
    background-repeat no-repeat
    background-position center center
