/**
 * CascadeSelectField Component Demo for tingle
 * @author caoke.ck
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Slot/Slot'
@require '../../src/Field/Field'
@require '../../src/Group/Group'
@require '../../src/Layer/Layer'
@require '../../src/Mask/Mask'
@require '../../src/Tab/Tab'
@require '../../src/Popup/Popup'
@require '../../src/CascadeSelectField/CascadeSelectField'

body
    background-color #f2f2f2

