/**
 * ActionSheet Component Demo for tingle
 * @author 
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils

@require '../../dev/demo'
@require '../../src/Popup/Popup'
@require '../../src/ActionSheet/ActionSheet'

body
  background-color #f2f2f2
  padding 10px

.t-button
  margin-bottom 10px

