// stylus variable is working like javascript es6 let
// so generated color must be after the redefined variables

$brand-primary-focus = rgba2rgb($brand-primary, rgba(0, 0, 0, 0.05)) // B3

// B1-3 (A60)
$brand-primary-alpha-3 = rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.6);
// B1-4 (A40)
$brand-primary-alpha-4 = rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.4);
// B1-6 (A20)
$brand-primary-alpha-6 = rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.3);
// B1-7 (A10)
$brand-primary-alpha-7 = rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.1);
// B1-8 (A6)
$brand-primary-alpha-8 = rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.06);

// F1-1-2
$function-red-alpha-2 = rgba(red($function-red), green($function-red), blue($function-red), 0.8); 
// F1-1-8
$function-red-alpha-8 = rgba(red($function-red), green($function-red), blue($function-red), 0.06); 
// F2-1-2
$function-orange-alpha-2 = rgba(red($function-orange), green($function-orange), blue($function-orange), 0.8);
// F3-1-2
$function-green-alpha-2 = rgba(red($function-green), green($function-green), blue($function-green), 0.8);
// F4-1-2 
$function-blue-alpha-2 = rgba(red($function-blue), green($function-blue), blue($function-blue), 0.8); 

@require 'atom';