/**
 * Crumb Component Demo for SaltUI
 * @author quanyun.mqy
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Crumb/Crumb'

body
    background-color #f2f2f2
    margin-top: 100px

