/**
 * Field Component Demo for SaltUI
 * @author
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Filter/filter'

.wrapper
  .box
    height 44px
    line-height 44px
    text-align center
    cursor pointer
    font-size 14px
    .icon
      vertical-align middle
    .active
      color #ff6f00

.{$prefix}-grid-item
  width 100%
  text-align center

.{$prefix}-list-item
  width 100%
  height 45px
  line-height 45px
  font-size 16px
  text-align left
  padding-left 20px

.super-filter-container
  width 300px
  height 100%
  padding 20px


