/**
 * Mask Component Style for tingle
 * @author
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-mask
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    display none
    opacity 0
    z-index 1000
    transition opacity 300ms $transition-ease
    background-color: $dark-alpha-1
    &.visible
        display block
