/**
 * Gallery Component Style for tingle
 * @author cm
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */
.{$prefix}-gallery-item
    height 100%
    background-size cover
    background-repeat no-repeat
    background-position center center
