/**
 * Calendar Component Demo for SaltUI
 * @author quanyun.mqy
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */


@require '../../dev/demo'
@require '../../src/Calendar/Calendar'

body
  background-color #f2f2f2
