/**
 * Calendar Component Demo for tingle
 * @author quanyun.mqy
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

@require '../../node_modules/@ali/tingle-ui/build/salt-ui.min.css'
@require '../../node_modules/@ali/tingle-style/src/tingle'
@require '../../src/Calendar'

body
  background-color #f2f2f2
