/**
 * CascadeSelectField Component Style for tingle
 * @author caoke.ck
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

$cascade-select-field-tip-color = $normal-alpha-5
$cascade-select-field-readonly-color = $dark-alpha-2

.{$prefix}-cascade-select-field-value
    > *
        vertical-align middle

.{$prefix}-cascade-select-field-icon svg
    fill $cascade-select-field-tip-color

.{$prefix}-cascade-select-field-placeholder
    max-width 100%
    height 24px
    line-height 24px
    color $cascade-select-field-tip-color

.{$prefix}-cascade-select-field-readonly
    color $cascade-select-field-readonly-color

@require './CascadeTab';
