/* variables + mixin + reset + flexbox + util */
@import "../../../src/Style/tingle.styl";

$brand-primary = #38ADFF; // B1

@import "../../../src/Style/generate.styl";

/* components style */
@import "../../component.styl";
