/**
 * Slide Component Demo for tingle
 * @author gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Slide/Slide'

.t-image-slide-item
    background-repeat no-repeat
    background-position center
    -webkit-background-size cover
    background-size cover
.dynamic-item
  background-color #ccc
  height 2rem
  display flex
  justify-content center
  align-items center
