/**
 * FoldablePane Component Demo for SaltUI
 * @author qingnan.yqn
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils

@require '../../dev/demo'
@require '../../src/FoldablePane/FoldablePane'

body
  background-color #f2f2f2

