/**
 * FoldablePane Component Demo for tingle
 * @author qingnan.yqn
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils

@require '../../src/Style/tingle'
@require '../../src/FoldablePane/FoldablePane'

body
  background-color #f2f2f2

