/**
 * Table Component Demo for SaltUI
 * @author sujingjing
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Table/Table'
@require '../../src/Pagination/Pagination'
@require '../../src/Button/Button'

body
  background-color #f2f2f2
  //padding 16px
.tip
  height 40px
  width 100%
  line-height 40px

