@require '../../dev/demo'
@require '../../src/Slider/Slider'

.slider-demo-wrapper {
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
  margin-left: 10px;
}
