/**
 * Scroller Component Demo for tingle
 * @author gbk
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Scroller/Scroller'

body
    background-color #f2f2f2

#TingleDemo
    .page
        position fixed
        top 0
        bottom 0
        left 0
        right 0
    .nowrap
        white-space nowrap