/**
 * FoldablePane Component Style for tingle
 * @author qingnan.yqn
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

.{$prefix}-foldable-pane
    display block // 这一行只是演示 按需删除
    background white
    padding 0 0 8px 0

.{$prefix}-foldable-pane-container
  display block

.{$prefix}-foldable-pane-fold
  display block
  overflow hidden

.{$prefix}-foldable-pane-trigger
  display flex
  justify-content center
  padding-top 8px

.{$prefix}-foldable-pane-trigger-icon
  color $normal-alpha-4
  fill $normal-alpha-4

.{$prefix}-foldable-pane-trigger-icon-reverse
  transform rotate(180deg)
