/**
 * SelectField Component Demo for SaltUI
 * @author caoke.ck
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Slot/Slot'
@require '../../src/Field/Field'
@require '../../src/Group/Group'
@require '../../src/Layer/Layer'
@require '../../src/Mask/Mask'
@require '../../src/SelectField/SelectField'

body
    background-color #f2f2f2
