.t-form-group {
}

.t-form-group-add {
  height 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: .5px solid rgba(31,56,88,.1);
  background-color: #fff;
}

.t-form-group-slice {
  margin-top: 12px;
}
.t-form-group-slice:first-child {
  margin-top: 0px;
}

.t-form-group-slice-title {
  width: 100%;
  height 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 22px;
  padding: 0px 16px;
  background-color: #f2f2f2;
  .t-form-group-slice-delete {
    color: #F37327;
  }
}