/**
 * Avatar Component Demo for tingle
 * @author
 *
 * Copyright 2014-2017, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Avatar/Avatar'

body
    background-color #f2f2f2

.avatar-demo
    padding 20px
    h2
        line-height 30px
        margin-top 30px


.hash-code
    padding 20px
    dt, dd
        line-height 24px

.t-avatar
    margin-right 10px
