/**
 * Gallery Component Demo for SaltUI
 * @author cm
 *
 * Copyright 2018-2019, SaltUI Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Slide/Slide'
@require '../../src/Gallery/Gallery'

body
    background-color #f2f2f2
