/**
 * Gallery Component Demo for tingle
 * @author cm
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../../dev/demo'
@require '../../src/Slide/Slide'
@require '../../src/Gallery/Gallery'

body
    background-color #f2f2f2
